*.#1
*.#2
*.#3
FootSwitch.cdb
FootSwitch.hex
FootSwitch.lk
FootSwitch.map
FootSwitch.mem
FootSwitch.omf
Main.adb
Main.asm
Main.lst
Main.rel
Main.rst
Main.sym
tmp.out
UsbDev8051.sdf
UsbDev8051.v12.suo
Main.OBJ
FootSwitch.M51
