FootSwitch.#1
FootSwitch.#2
FootSwitch.#3
FootSwitch.#4
FootSwitch.#5
FootSwitch.cdb
FootSwitch.hex
FootSwitch.lk
FootSwitch.map
FootSwitch.mem
FootSwitch.omf
Main.#1
Main.#2
Main.#3
Main.#4
Main.#5
Main.adb
Main.asm
Main.lst
Main.rel
Main.rst
Main.sym
tmp.out
